# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Data files
*.tif
*.tiff
*.nc

# Environments
.env
.venv/
conda-env/

# OS
.DS_Store
configs/datacube.conf
data/senitnel_grid.kml
data/senitnel_grid.kml
